<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>If - elif Condition</h1>

        {% if age < 17 %}

        <h1>Go To School</h1>

        {% elif age > 17 and age < 22 %}

        <h1>Go To College</h1>

        {% elif age > 22 and age < 56 %}

        <h1>Go To Work</h1>

        {% else %}

        <h1>Rest In Peace...!</h1>

        {% endif %}
    </center>
</body>
</html>